<%= link_to "New Joke", new_joke_path %>
<h2>Lawak terkini</h2>
<ul>
<% @jokes.each do |joke| %>
<li><%= link_to joke.title, joke %></li>
<% end %>
</ul>
<nav>
<%= link_to "Sign up", new_user_registration_path %>
</nav>